    font-size: 3em;
    background-color: bisque;
}
#i2{
    font-size: 10px;
}
#h2:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    font-size: 10px;
}
.box1{
    font-size: 2em;
}
.p1{
    font-size: 2em;
}